<% content_for :title, "Sign in" %>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="h4 mb-4 text-center">サインイン</h1>
        <%= form_with url: session_path do |form| %>
          <div class="mb-3">
            <%= form.label :email_address, "メールアドレス", class: "form-label" %>
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address], class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :password, "パスワード", class: "form-label" %>
            <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, class: "form-control" %>
          </div>
          <%= form.submit "Sign in", class: "btn btn-primary w-100" %>
        <% end %>
      </div>
      <div class="card-footer bg-white border-0 pt-0 text-center">
        <%= link_to "パスワードをお忘れですか？", new_password_path, class: "btn btn-link" %>
      </div>
    </div>
  </div>
</div>
