<div id="<%= dom_id discussion %>">
  <div>
    <strong>Title:</strong>
    <%= discussion.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= discussion.description %>
  </div>

  <div>
    <strong>User:</strong>
    <%= discussion.user_id %>
  </div>

  <div>
    <strong>Board:</strong>
    <%= discussion.board_id %>
  </div>

</div>
