<div id="<%= dom_id comment %>">
  <div>
    <strong>Content:</strong>
    <%= comment.content %>
  </div>

  <div>
    <strong>Archived at:</strong>
    <%= comment.archived_at %>
  </div>

  <div>
    <strong>User:</strong>
    <%= comment.user_id %>
  </div>

  <div>
    <strong>Discussion:</strong>
    <%= comment.discussion_id %>
  </div>

</div>
